.tasks{
  display: flex;
  background-color: var(--gray-600);
  padding: 1rem 1rem;
  border-radius: 8px;
  align-items: center;
}

.tasks + .tasks{
  margin-top: 0.8rem;
}

.tasks p{
  font-size: 0.9rem;
}

.boxText{
  display: flex;
  flex:1;
  margin: 0 1rem;
}

.done{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.6rem;
  border: 2px solid #5E60CE;
  background: #5E60CE;
  cursor: pointer;
  line-height: 0;
}

.done p{
  font-size: 0.8rem;
  color: white;
}

.undone{
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.6rem;
  border: 2px solid #4EA8DE;
  background: transparent;
  cursor: pointer;
  line-height: 0;
}

.trashIcon{
  background: transparent;
  border: 0;
  color: var(--gray-400);
  display: flex;
  align-items: center;
}